.site {
  text-align: center;
}

.contents {
  background: rgb(225, 174, 238);
  background: radial-gradient(
    circle,
    rgba(225, 174, 238, 1) 0%,
    rgba(148, 151, 233, 1) 100%
  );
  height: auto;
  padding: 35px;
  margin: auto;
}

h1 {
  color: white;
  font-size: 42px;
}

h2 {
  color: white;
  font-size: 24px;
}

.pokemons {
  margin-top: 100px;
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 30px;
  width: 100%;
  height: auto;
}

.pokemons img {
  display: block;
  width: 200px;
}

.buttons {
  display: flex;
}

button {
  height: 63px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(148, 151, 233);
  color: white;
  cursor: pointer;
}

button:active {
  color: aliceblue;
  font-size: 19px;
  background-color: rgb(128, 130, 199);
}

.homeButton {
  margin-left: 10px;
}

.setsButton {
  margin-left: 20px;
}
